<header>
  <h1 class = "short-listed">LOGO</h1>
</header>
<div>
{{input class="searchbox" type="search" placeholder='Search Here...'}}
</div>


{{list-of-users userData = model.userData onToShortlistRoute='onToShortlistRoute'
onClickofUser= 'onClickofUser'
}}
<p class = "short-listed footer-text">Shortlisting</p>
{{log model.userShrtData}}
{{list-of-users userData = model.userShrtData title = "shortlist" onRmvShortlistRoute='onRmvShortlistRoute'
onClickofUser= 'onClickofUser'
}}

<footer>
  <p class = "short-listed footer-text">Copyright Valuelabs LLP</p>
</footer>
